{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "exclude": [
          "transform-regenerator"
        ],
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "comments": false
}
