# temporary files
*~
*.tmp
*.swp
*.log

# image caches
.DS_Store
Thumbs.db

# patch/merge
*.orig
*.rej

# Node.js module files
/node_modules/

/dist/

# IDE files
/.idea/
/*.iml
/nbproject/
/.project
