# dotfiles
.*

# files for build
/coverage/
/examples/
/node_modules/
/scripts/
/src/
/test/
jest.config.json
tsconfig.*

# temporary files
*~
*.bak
*.tmp
*.swp
*.log

# image caches
.DS_Store
Thumbs.db

# patch/merge
*.orig
*.rej

# IDE files
*.code-workspace
