# https://help.github.com/en/articles/workflow-syntax-for-github-actions

on: push
name: Windows
jobs:
  verify:
    name: Verify
    runs-on: windows-latest
    strategy:
      matrix:
        nodejs:
        - 12
        typescript:
        - "3.4.1"
        - "3.5"
        - "3.6"
        - "3.7"
        - "3.8"
        - "3.9"
        - "4.0"
      fail-fast: false
    steps:
    - name: Turn off auto-crlf
      run: git config --global core.autocrlf false
    - name: Checkout source codes
      uses: actions/checkout@v2
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.nodejs }}
    - name: Output versions
      run: |
        node -v
        npm -v
    - name: Install dependencies
      run: npm ci
    - name: Reinstall typescript
      run: npm i -D typescript@${{ matrix.typescript }}
    - name: Build
      run: npm run build
    - name: Verify
      run: npm run verify
